<%= @form_action_path %>
Opening date: <%= @opening_time.to_s %>
Closing date: <%= @closing_time.to_s %>
<form action="<%= @form_action_path %>" method="post">
  <input type="hidden" name="market_date_id" value="<%= @market_date[:market_date_id] %>">
  <input type="hidden" name="seller_id" value="<%= @seller[:seller_id] %>">
  <label for="stall_name">Stall Name:</label>
  <input type="text" name="stall_name" required>
  <label for="stall_location">Stall Location:</label>
  <input type="text" name="stall_location">
  <label for="website">Website:</label>
  <input type="text" name="website">
  <label for="opening_time[]">Opening Time:</label>
  <input type="date" name="opening_time[]" value="<%= @opening_time[:date] %>">
  <input type="time" name="opening_time[]" value="<%= @opening_time[:time] %>">
  <label for="closing_time[]">Closing Time:</label>
  <input type="date" name="closing_time[]" value="<%= @closing_time[:date] %>">
  <input type="time" name="closing_time[]" value="<%= @closing_time[:time] %>">
  <button>Register</button>
</form>