<h1><%= @stall[:stall_name] %></h1>
<h2>Location: <%= @stall[:stall_location] %></h2>
<h3>Website: <%= @stall[:website] %></h3>

<h4>Opens at: <%= @stall[:opening_time] %></h4>
<h4>Closes at: <%= @stall[:closing_time] %></h4>

<% if @edit_link_allowed %>
  <a class="action-button" href="<%= @edit_action_path %>">Edit</a>

  <form action="<%= @delete_action_path %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="action-button">Delete</button>
  </form>
<% end %>
