<h2 class="edit-header">Edit Seller Details</h2>

<h3>Email: <%= @seller[:email] %></h3>
<form class="edit-form" action="<%= @form_action_path %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="seller_id" value="<%= @seller[:seller_id] %>">
  <label for="seller_name">Name:</label>
  <input type="text" name="seller_name" value="<%= @seller[:seller_name] %> required" > 
  <label for="website">Website:</label>
  <input type="text" name="website" value="<%= @seller[:website] %>">
  <button class="action-button">Save</button>
</form>
<a class="action-button" href="<%= @back_anchor_link %>">Back</a>